.container{
    display: flex;
   
    
}
.mainContainer{
    
    width: 100%;
    .search{ 
            background-color: rgb(27, 27, 28);
            display: flex;
            align-items: center;
            justify-content:space-around;
            height:5rem;
            width: 100%;
            margin-bottom: 2rem;
            form{
                max-width: 1000px;  
                display: flex;
                align-items:center;
                justify-content:center;
                gap: 1rem;
                label{
                    input{
                        width:20rem;
                        padding: 0.7rem 0.3rem;
                        border: 0;
                        border-radius:8px;

                    }
            
                }
                button{
                    background-color: #75339b;
                    color: rgb(242, 221, 245);
                    border: 0;
                    border-radius: 8px;
                    padding: 0.2rem 0.7rem;

                }
            }
            .link{
                color:#894aae
            }
        }
        .products{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 0.5rem;
        }
}


.sidebarContainer{
    display: flex;
    aside{
        width:20rem;
        height:100%;    
        display: flex;
        flex-direction: column;
        padding: 0.5rem 2rem;
        background-color: rgb(27, 27, 28);
        gap: 0.8rem;
        button{
            padding: 1rem 0.5rem;
            background-color: #75339b;
            color: rgb(242, 221, 245);
            border: 0;
            border-radius: 8px;
            font-size: 17px;
            font-weight: normal;
            font-family: Roboto;
            transition: background-color 0.3s;
            &:hover{
                background-color:#924eba;
            }

        }
    }
}